{% extends 'base.html.twig' %}

{% block title %}Decision index{% endblock %}

{% block body %}
    <h1>Decision index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>AllowedAt</th>
                <th>IsTaken</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for decision in decisions %}
            <tr>
                <td>{{ decision.id }}</td>
                <td>{{ decision.content }}</td>
                <td>{{ decision.allowedAt ? decision.allowedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ decision.isTaken ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('decision_show', {'id': decision.id}) }}">show</a>
                    <a href="{{ path('decision_edit', {'id': decision.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('decision_new') }}">Create new</a>
{% endblock %}
