{% extends 'base.html.twig' %}

{% block title %}Decision{% endblock %}

{% block body %}
    <h1>Decision</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ decision.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ decision.content }}</td>
            </tr>
            <tr>
                <th>AllowedAt</th>
                <td>{{ decision.allowedAt ? decision.allowedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>IsTaken</th>
                <td>{{ decision.isTaken ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('decision_index') }}">back to list</a>

    <a href="{{ path('decision_edit', {'id': decision.id}) }}">edit</a>

    {{ include('decision/_delete_form.html.twig') }}
{% endblock %}
